DATABASE_URL=''
PORT=3000
NODE_ENV=production

JWT_SECRET=jwtrahasianih
JWT_ACCESS_EXPIRATION_MINUTES=5
JWT_REFRESH_EXPIRATION_DAYS=10
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=5
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=5

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=contoh@gmail.com
SMTP_PASSWORD=passwordcontoh
EMAIL_FROM=contoh@gmail.com


GEMINI_KEY=""
GROQ_KEY=""
YOUTUBE_KEY=""
